PORT=3002
GRPC_PORT=50052
DATABASE_URL=postgresql://product_user:product_password@localhost:5435/product_db?schema=public
KAFKA_BROKER=localhost:9093
AUTH_GRPC_URL=localhost:50051
REDIS_HOST=localhost
REDIS_PORT=6379
