PORT=3003
GRPC_PORT=50053
DATABASE_URL=postgresql://order_user:order_password@localhost:5434/order_db?schema=public
RABBITMQ_URL=amqp://user:password@localhost:5672
AUTH_GRPC_URL=localhost:50051
PRODUCT_GRPC_URL=localhost:50052
REDIS_HOST=localhost
REDIS_PORT=6379
